@page "/data/editor"
@using PDA.Data.Profile.Data
@using BlazorInputFile

<a href=@((string)($"filename:profileData.json;data:application/json;charset=utf-8,{JSONString}") ) download>Export</a>

@ProfileData.Text

<button @onclick="UpdateChangeTheValue"> Click This</button>


<InputFile OnChange="@HandleFileSelected" />

@code {

}

@code {
    //   <input @bind="UploadedProfileDataPath" @onchange="OnProfileDataUploaded" type="file" id="myFile" name="filename">

}
<pre>
    Uploaded File:
    @UploadedProfileData
</pre>

@if (ProfileData == null)
{
    <Loading />
}
else
{

}



<p>This is the Editor Page</p>

<pre style="height: 700px">
    @FoundValues
    
    @JSONString
</pre>

