@inherits MainLayoutBase

<MatThemeProvider Theme="@laTheme">

@ProfileData.Text


<div style="display:grid;grid-template-columns:30% 70%;border:2px solid red;width:100vw;">
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

</div>

</MatThemeProvider>

