@inherits NavMenuBase
@using Microsoft.AspNetCore.Components

<div class="mat-elevation-z4" style="padding: 10px;">
    <MatButton OnClick="@(() => navMenu.ToggleAllSubMenus(true))">Expand All</MatButton>
    <MatButton OnClick="@(() => navMenu.ToggleAllSubMenus(false))">Collapse All</MatButton>
</div>

@if(NavData == null) 
{
    <Loading/>
} 
else 
{

  <MatCard color="primary">
            <MatCardContent  color="primary">

<MatNavMenu @ref="navMenu" Multi="MultiChecked"  color="primary">
    @foreach (var section in NavData.Sections.OrderBy(section => section.Weight).ToList())
    {
        <MatNavSubMenu  color="primary">
            <MatNavSubMenuHeader Title=@section.Name>
                <MatNavItem AllowSelection="false">
                    <span class="iconify" data-icon=@section.DataIcon data-inline="false"/> 
                    &nbsp;&nbsp; @section.Name
                </MatNavItem>
            </MatNavSubMenuHeader>

            <MatNavSubMenuList>
                @foreach (var topic in section.Topics.OrderBy(section => section.Weight).ToList())
                {
                    <MatNavItem Href=@((string)($"{section.Raw}/{topic.Raw}")) Title=@topic.Name>@topic.Name</MatNavItem>
                }
            </MatNavSubMenuList>
        </MatNavSubMenu>
    }

</MatNavMenu>

            </MatCardContent>
        </MatCard>

}
             
