@inherits MainLayoutBase

<MatThemeProvider Theme="@laTheme">

@ProfileData.Text

@if(ApplicationState.IsDarkTheme) {
<style>
html {
    color: white;
    background-color: black;
  }
</style>
} else {
<style>
html {
    color: black;
    background-color: white;
  }
</style>
}
<MatCard>
<div style="display:grid;grid-template-columns:30% 70%;;width:100vw;">
    <NavMenu />
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

</div>
</MatCard>
</MatThemeProvider>

